@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;

    /** cover para cubir a tela inteira como a igamen eh, ou seja ajusta a imagem para ficar comprimido ou estendido do tamanho da tela desejada e com a imagem sem cortes como ela eh originalmente **/
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    /** absoluto para poder estar mexendo no seu posicionamento, com os atributos permitido agora como o (top e left)**/
    position: absolute; 
    
    /** o quadrado fica fora do posicionamento central pq a parte que ele centraliza eh o comeco do quadrado ou seja a parte (esquerda e cima) como a parte a ser centralizada**/
    top: 50%;
    left: 50%; 
    
    /** preicsa fazer uma transformação para que centralize o meio do quadrado no meio da tela, jogando o começo do quadrado como a cima (esquedo e cima) recuando 50% para a esquerda e 50% para cima **/
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;

    /** adicionando a imagem e fazendo com que ela n se repita **/
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    
    /** fazendo a bordar fazer parte do objeto(caixa) para que quando passado o mouse em cima n interfira nos elementos abaixo **/
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    
    /** fazendo a tranzacao de forma suave ao passar o mouse em cima tando na movimentacao do icone quando para a borda aparecer tambem**/
    transition: transform 0.3s, border .3s;
}